/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 390px) {
  .emailAddress {
    font-size: 0.5rem;
  }
  .contact-info2 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  nav {
    height: 80px;
    background: var(--mainBack);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
  }
  .brandName {
    font-size: 20px;
  }
  ul li a {
    font-size: 0.8rem;
  }
  /* ####################################
                footer
    #################################### */
  footer {
    background: #000;
    padding-top: 40px;
    padding: 5px 2%;
  }
  .social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .social-links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  .f-links {
    display: flex;
    justify-content: center;
  }
  .pages-links li a {
    text-align: center;
  }

  /* ####################################
                contact page 
########################################## */

  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .emailAddress {
    font-size: 0.7rem;
  }
}

/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
  .form-section,
  .contact-info {
    margin-bottom: 50px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .contact-info-heading {
    margin-bottom: 60px;
  }
}

/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: var(--mainBack);
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: cyan;
  }
  nav .menu-btn i {
    display: block;
  }
}

/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
}

/* 
// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
